.label {
  width: 90px;
  font-weight: bold;
  display: flex;
  align-items: center;
  font-size: 18px;
  margin: 0 !important;
}

.numPeople {
  width: 72px !important;
}

.status {
  width: 250px !important;
}

.bill {
  width: 140px !important;
}